<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TileGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TileGame.Properties.Settings>
            <setting name="First_T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="First_A" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Second_T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Second_A" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Third_T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Third_A" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="First_N" serializeAs="String">
                <value>AAA</value>
            </setting>
            <setting name="Second_N" serializeAs="String">
                <value>AAA</value>
            </setting>
            <setting name="Third_N" serializeAs="String">
                <value>AAA</value>
            </setting>
            <setting name="Initials" serializeAs="String">
                <value />
            </setting>
            <setting name="First_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Second_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Third_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>False</value>
            </setting>
        </TileGame.Properties.Settings>
    </userSettings>
</configuration>